/*Overall Styles*/

main, footer{
    position:relative;
    top: 64px;
}



/*Desktop*/

@media only screen and (min-width:761px){
    .mobile{
        display:none;
    }
}
/*Header*/

header{
    width: 100%;
    height: 64px;

    background-color: #ffffff;
    
    top:0;
    position:fixed;
    z-index:1;
}

header img {
    display: inline-block;
    height: 40px;
    width: auto;

}

header .logo{
    margin: 10px 0 0 20px;
    display:inline-block;

}

header nav{
    width:50%;
    margin-top:5px;
    float: right;
}
header ul{
    display: flex;
    align-content: center;
    justify-content:space-around;
}

header li{
    display: inline-block;
    margin: 0 8px;
    
    font-size:20px;
    font-family:sans-serif;
}

@media only screen and (max-width:760px){
    header .desktop{
        display:none;
    }

    header .mobile nav{
        width:100%;
        margin: 0 12px;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;

    }
}

/*Banner*/

#banner{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    

}

#banner img{
    width:60%;
    height: auto;
    margin: 32px 24px;
}

@media only screen and (max-width:760px){
    #banner {
        display: block;
    }

    #banner img{
        width:100%;
        height: auto;
        margin: 0;
    }

    #banner .writing{
        margin:16px;
    }

    #banner .link {
        text-align:center;
        margin-top: 24px;
        margin-bottom:32px;
    }

    
}
/*Information & Thesis*/

.desktop {
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
}

 .main {
    width:60%;
    height:auto;
    margin: 32px 24px;    
}

 .main img {
    width:100%;
}

 .flex-container {
    box-sizing:border-box;
    margin:32px 0;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;

    width:40%;
}


.box{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    
}

 .box img{
    width:35%;
    height:auto;
    margin:16px;
}

 .box span{
    margin-left:20px;
}

@media only screen and (max-width:760px){
    #information .desktop{
        display:none;
    }

    #information .mobile{
        box-sizing:border-box;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
    }

    #information .mobile img{
        width: 100%;
    }

    #information .mobile .caption{
        margin: 16px 32px;

    }
}


/*Start Learning*/

#start-learning h1{
    text-align:center;
    margin:32px 0;
}

#start-learning .flex-container2{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    align-content:center;

    margin: 0 72px;

}

#start-learning .box2{
   width: 375px;
   height:auto;
   margin-left:16px;
   margin-right:16px;
}

.box2 img{
    width:100%;
    height:auto;
}

@media only screen and (max-width:760px) {
    #start-learning .desktop {
        display:none;
    }
    
    #start-learning .mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #start-learning .mobile a{
        padding: 16px 16px 24px 16px;
        margin-bottom:8px;
        width: 75%;
    }
}
/*Thesis*/

#thesis h1{
    text-align:center;
}

#thesis .main video{
    width:100%;
    height:auto;
}



@media only screen and (max-width:760px){
    #thesis .desktop{
        display:none;
    }

    
}

/*Footer*/

footer h4{
    margin: 16px 24px;
    display: inline-block;

}

footer nav{
    display:inline-block;
    float:right;
}

footer li{
    display: inline-block;
    margin-right:16px;
}

@media only screen and (max-width: 760px){
    footer nav{
        display:none;
    }
}